body {
  margin: 10;
  padding: 10;

  font-family: "Arial", sans-serif;

  background-image: url(../img/background.jpg);
}

 header,
 footer {
  padding: 10px;
  background-color:rgb(153, 204, 255, 60%);
  border-radius: 100px;
 }
 
main{
  background-color: rgb(51, 133, 255, 40%);
}

dl {
  background-color: rgb(77, 255, 184, 40%);
  color: rgb(255, 153, 51);
}

main {
}