.home {
	color: white;
	margin: 8px;
	overflow: hidden; /* Скрыть переполняющий контент */
	box-sizing: border-box; /* Включает padding и border в расчет ширины и высоты */
}

.posts {
	grid-area: posts;
	display: flex;
	flex-direction: column; /* Расположение элементов в столбик */
	justify-content: center; /* Выравнивание элементов по началу */
	overflow: hidden; /* Скрыть переполняющий контент */
	box-sizing: border-box; /* Включает padding и border в расчет ширины и высоты */
}

@media (max-width: 768px) {
	.home {
		height: 100%;
		margin: 0;
		box-sizing: border-box;
		border-radius: 16px;
		padding-bottom: 60px;

		/* =========  ПРОКРУТКА  ========= */
		overflow: hidden;
		overflow-y: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.home::-webkit-scrollbar {
		display: none;
	}

	.story {
	}

	.posts {
	}
}