.usersWrapper {

}

.userInfoWrapper {
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 8px;
}

.img {
	height: 100px;
	width: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img img {
	height: 70px;
	width: 70px;
	border-radius: 30px;
}


.userInfo {
	display: flex;
	margin-left: 12px;
	padding: 5px;
	border-radius: 12px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.userName {
	display: inline-block;
	vertical-align: middle;
	color: rgb(230, 230, 230);
	font-size: 18px;
	font-weight: 600;
}

.status {
	font-size: 14px;
}

.userNameWrapper {
	margin-right: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.userLocation {
	margin-right: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.city {
	font-size: 14px;
}

.country {
	font-size: 8px;
}

.city, .country {
	margin: 0;
	text-align: right;
}

.button {
	display: flex;
	width: 280px;
}

button {
	margin-right: 16px;
	padding: 7px 20px;
	border-radius: 15px;
	background-color: #50708e;
	margin-left: auto;
	font-size: 19px;
	color: rgb(230, 230, 230);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid rgb(100, 130, 180);
	cursor: pointer;
	outline: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Hover state for button */
button:hover {
	background-color: rgb(60, 80, 100); /* Слегка светлее фон при наведении */
	border-color: rgb(120, 150, 200); /* Слегка светлее граница при наведении */
}

/* Active state for button */
button:active {
	background-color: rgb(40, 60, 80); /* Еще темнее фон при нажатии */
	border-color: rgb(80, 110, 160); /* Еще темнее граница при нажатии */
}

.date {
	margin-top: 4px;
	margin-left: 12px;
	color: rgb(211, 200, 200);
	font-size: 12px;
}

.pagination {
	margin: 8px;
	padding: 8px;
	display: inline-block;
	cursor: pointer;
}

.selectPage {
	font-weight: bold;
}

.pagination span {
	font-size: 18px;
	margin-right: 12px;
	display: inline-block;
}

@media (max-width: 768px) {
}