* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Lato", sans-serif;
   /* background-image: url(../img/background.jpg); */
   background-color: rgb(30, 45, 60);
}

/*! Header */
header {
   background-color: rgb(252, 252, 252);
}

.header-wrapper {
   width: 90%;
	height: 100px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img[alt="logo"] {
   width: 100px;
}

nav {
   display: flex;
   gap: 40px;
}

.nav-link {
   padding: 8px;
	font-size: 36px;
	text-decoration: none; 
   background-color: rgb(34, 73, 74); /* Непрозрачный фон */   
   color: rgb(22, 160, 133);
   border-radius: 12px;
   box-shadow: 0px 0px 12px 8px rgb(34, 73, 74);
}

.nav-link:hover {
   color: rgb(243, 156, 18);
   box-shadow: 0px 0px 12px 8px rgb(243, 156, 18);
}