.chat {
	color: white;
	padding: 4px;
	/*max-height: calc(100% - 54px);*/
	display: flex;
	flex-direction: column;
	height: 100vh; /* Занимаем всю высоту экрана */
	box-sizing: border-box;
}

/* userInfo */
.userInfo img {
	margin-bottom: 4px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.userInfo {
	border-bottom: 1px solid rgb(77, 113, 151);
	display: flex;
	align-items: center;
}

.userInfoWrapper {
	margin-left: 8px;
	display: flex;
	flex-direction: column;
}

.userInfo .userName {
	display: inline-block;
	vertical-align: middle;
	color: rgb(230, 230, 230);
	font-size: 18px;
}

.date {
	margin-top: 4px;
	margin-left: 12px;
	color: rgb(211, 200, 200);
	font-size: 12px;
}

.messages {
	flex: 1;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column-reverse;

	/* =========  ПРОКРУТКА  ========= */
	/*overflow: hidden;*/
	overflow-y: auto;
	scrollbar-width: none; /* Скрывает полосу прокрутки в Firefox */
	-ms-overflow-style: none; /* Скрывает полосу прокрутки в IE и Edge */
}

.messages::-webkit-scrollbar {
	display: none; /* Скрывает полосу прокрутки в Chrome, Safari и Opera */
}

.messageItem {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.messageArea {
	padding: 6px;
	background-color: rgb(35, 53, 70);
	border-top: 1px solid rgb(77, 113, 151);
	display: flex;
	flex-direction: column;
	width: 100%;
}

.messageArea input {
	margin: 4px 0;
	background-color: rgb(48, 69, 90);
	border-radius: 12px;
	border: 1px solid rgb(80, 117, 156);
	color: rgb(230, 230, 230);
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	cursor: text;
	font-size: 16px;
	outline: none;
}

/* Button styles */
.messageArea button {
	border-radius: 18px;
	padding: 2px 30px;
	margin-left: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@media (max-width: 768px) {
	.chat {
		box-sizing: border-box;
		height: 100%;
		margin: 0;
		border-radius: 16px;
	}

	/*.chat::-webkit-scrollbar {*/
	/*	display: none;*/
	/*}*/

	.messages {
		box-sizing: border-box;
		max-height: calc(100% - 86px);
		margin: 0;
		border-radius: 16px;

		/* =========  ПРОКРУТКА  ========= */
		/*overflow: hidden;*/
		overflow-y: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.messages::-webkit-scrollbar {
		display: none;
	}

	.messageArea {
		position: sticky;
		bottom: 0;
		padding: 6px;
		background-color: rgb(35, 53, 70);
		border-top: 1px solid rgb(77, 113, 151);
	}
}