.profile {
	margin: 16px;
}

.postsWrapper {
	margin-top: 8px;
}

.profileInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding: 8px;
}

.profileInfo img {
	height: 90px;
	width: 90px;
	display: flex;
	margin: 0;
}

.profileInfo .fullName {
	margin: 0 auto;
}

.descriptionBlock {
	margin: 12px;
}

.profileStatusWrapper {
	height: 30px;
	display: flex;
	cursor: pointer;
}

.editStatus {
	display: flex;
	align-items: center; /* Вертикальное центрирование элементов */
}

.editStatus input {
	margin: 4px 0;
	background-color: rgb(48, 69, 90);
	border-radius: 18px;
	border: 1px solid rgb(80, 117, 156);
	color: rgb(230, 230, 230);
	box-sizing: border-box;
	padding: 4px;
	width: 100%;
	cursor: text;
	font-size: 16px;
	outline: none;
}

/* Стили для кнопки статуса */
.editStatus .button {
	margin-left: 16px;
	padding: 4px 12px; /* Внутренние отступы */
	background-color: rgb(50, 70, 90); /* Темный фон кнопки */
	border-radius: 12px; /* Скругление углов кнопки */
	border: 1px solid rgb(100, 130, 180); /* Граница кнопки */
	color: rgb(230, 230, 230); /* Цвет текста */
	font-size: 16px; /* Размер шрифта */
	cursor: pointer; /* Указатель при наведении */
	transition: background-color 0.3s ease, border-color 0.3s ease; /* Плавные переходы */
}

.editStatus .button:hover {
	background-color: rgb(60, 80, 100); /* Светлее фон при наведении */
	border-color: rgb(120, 150, 200); /* Светлее граница при наведении */
}

.editStatus .button:active {
	background-color: rgb(40, 60, 80); /* Темнее фон при нажатии */
	border-color: rgb(80, 110, 160); /* Темнее граница при нажатии */
}

.profileStatus {
	min-width: 230px;
	min-height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.profileBio {
	padding: 12px;
}

.aboutMe {
	padding: 12px;
}

.switchButtons {
	display: flex;
	width: 100%;
	gap: 6px;
	margin: 8px 0;
}

.switchButtons button {
	margin: 0;
	flex: 1; /* Кнопки равной ширины */
	padding: 10px 0; /* Убираем боковые отступы и оставляем только вертикальные */
	text-align: center;
	cursor: pointer;
	border: none;
}

.switchButtons button.activeButton {
	background-color: #4770a0;
	color: #233546;
}

.switchButtons button:not(.activeButton) {
	background-color: #304459;
}

@media (max-width: 768px) {
	.profile {
		height: 100%;
		margin: 0;
		box-sizing: border-box;
		border-radius: 4px;

		/* =========  ПРОКРУТКА  ========= */
		overflow: hidden;
		overflow-y: auto;
		scrollbar-width: none; /* Скрывает полосу прокрутки в Firefox */
		-ms-overflow-style: none; /* Скрывает полосу прокрутки в IE и Edge */
	}

	.profile::-webkit-scrollbar {
		display: none; /* Скрывает полосу прокрутки в Chrome, Safari и Opera */
	}

	/* =================================== */
	.stories {
		overflow: hidden;
	}
}