.header {
	grid-area: h;
	padding: 5px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	background-color: rgb(35, 53, 71); /* Фон */
	border-radius: 18px;
	border: 1px solid rgb(80, 117, 156);
}

.header img {
	height: 50px;
	width: 50px;
}

.h1 {
	color: white;
	font-size: 36px;
}

.loginWrapper {
	margin: auto;
	float: right;
}

/* Стили для кнопки logout */
.loginWrapper button {
	background: none;
	border: none;
	font: inherit;
	color: inherit;
	cursor: pointer;
	padding: 10px 15px;
	display: inline-block;
	width: 100%;
	border-radius: 8px;
}

.loginWrapper button:hover {
	background-color: rgb(48, 68, 89);
}

/* Общий стиль для nav-item и ссылки */
.navItem {
	position: relative;
	display: inline-block;
}

.navLink {
	text-decoration: none;
	color: white;
	padding: 10px 15px;
	display: inline-block;
	cursor: pointer;	opacity: 1;
	transform: translateY(0);
}

/* Скрытый по умолчанию список */
.dropdownMenu {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	background-color: rgb(48, 68, 89);
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	border: 1px solid rgb(80, 117, 156);
	padding: 10px 0;
	list-style: none;
	margin: 0;
	border-radius: 6px;
	min-width: 160px;
	z-index: 1;
	transition: all 0.3s ease;
}

.dropdownMenu.show {
	display: block;
	opacity: 1;
	transform: translateY(0);
}

.navLink:hover,
.navLink:focus,
.dropdownItem:hover,
.dropdownItem:focus {
	background-color: rgb(70, 111, 159);
}

/* Стиль для элементов списка */
.dropdownItem {
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	display: block;
}

/* Разделитель */
.dropdownDivider {
	height: 2px;
	background-color: rgb(80, 117, 156);
	margin: 10px 0;
	border: none;
}

/* Анимация */
.dropdownMenu {
	opacity: 0;
	transform: translateY(10px);
}

.dropdown {
	position: relative;
}

.arrow {
	display: inline-block;
	margin-left: 8px; /* Отступ между текстом и стрелкой */
	transition: transform 0.3s; /* Плавный переход для анимации */
}

/* Стрелка вверх */
.up {
	border: solid transparent;
	border-width: 0 5px 5px 5px; /* Стрелка вверх по умолчанию */
	border-bottom-color: white;
}

/* Стрелка вниз */
.down {
	transform: rotate(180deg); /* Поворачиваем стрелку вниз при открытии */
	border: solid transparent;
	border-width: 0 5px 5px 5px;
	border-bottom-color: white;
}