.navigate,
.bottomNav {
	grid-area: navigate;
	display: none;
}

@media (max-width: 768px) {
	.navigate {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: fixed;
		bottom: 0;
		width: 100%;
		height: 86px;
		/*height: 100%;*/
		/*padding: 10px 0 0;*/
		background-color: rgb(30, 45, 60);
		box-sizing: border-box;
		z-index: 10;
		/*left: 0;*/
		flex-direction: row;
		/*align-self: end;*/
		overflow: hidden; /* Скрыть переполняющий контент */
	}

	.navigate a {
		overflow: hidden;
		color: rgb(211, 200, 200);
		text-decoration: none;
		flex: 1;
		text-align: center;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.navigate a.activeLink {
		color: rgb(30, 45, 60);
	}

	.navigate img {
		width: 36px;
		height: 36px;
		justify-content: center;
		align-items: center;
	}
}