.paginator {
	margin: 4px 8px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pageNumber {
	font-size: 16px;
	margin: 0;
	display: inline-block;
	cursor: pointer;
	padding: 2px;
	border-radius: 4px;
	color: rgb(230, 230, 230);
}

.pageNumber.selectPage {
	font-weight: bold;
	border: 1px solid rgb(230, 230, 230);
}

.paginator button {
	padding: 6px 6px;
	font-size: 14px;
	border-radius: 10px;
	background-color: rgb(80, 112, 142);
	color: rgb(230, 230, 230);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 1px solid rgb(100, 130, 180);
	cursor: pointer;
	outline: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, border-color 0.3s ease;
}

.paginator button:hover {
	background-color: rgb(60, 80, 100);
	border-color: rgb(120, 150, 200);
}

.paginator button:active {
	background-color: rgb(40, 60, 80);
	border-color: rgb(80, 112, 142);
}