.paginator {
	margin: 8px;
	padding: 8px;
	display: flex;
	justify-content: center;
}

.paginator button {
	padding: 8px 8px;
	font-size: 14px;
	margin: 0;
}

.pageNumber {
	font-size: 18px;
	margin: 3px;
	display: inline-block;
	cursor: pointer;
	padding: 2px;
}

.pageNumber.selectPage {
	font-weight: bold;
	border: 1px solid white;
}