.post {
	margin-top: 8px;
	padding: 5px;
	background-color: rgb(50, 62, 83);
	border-radius: 12px;
	width: 100%;
	overflow: hidden; /* Скрыть переполняющий контент */
	box-sizing: border-box; /* Включает padding и border в расчет ширины и высоты */
}

.postImg {
	width: 100%;
}

.postImg img {
	width: 100%;
	height: auto !important;
	object-fit: contain; /* Для сохранения пропорций */
}

.postMessage {
	color: rgb(230, 230, 230);
	padding: 8px;
}

.userInfoWrapper img {
	margin-bottom: 4px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.userInfoWrapper {
	display: flex;
	align-items: center;
}

.userInfo {
	margin-left: 8px;
	display: flex;
	flex-direction: column;
}

.userInfoWrapper .userName {
	display: inline-block;
	vertical-align: middle;
	color: rgb(230, 230, 230);
	font-size: 18px;
}

.date {
	margin-top: 4px;
	margin-left: 12px;
	color: rgb(211, 200, 200);
	font-size: 12px;
}

.reactionContainer {
	padding: 0;
	margin: 5px 0 0;
	height: 36px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-top: 1px solid rgb(80, 117, 156);
	border-bottom: 1px solid rgb(80, 117, 156);
}

.reaction {
	display: flex;
	align-items: center;
	font-size: 20px;
	color: rgb(191, 222, 255);
}

.reaction .icon {
	width: 26px;
	height: 26px;
	margin-right: 5px;
	color: rgb(191, 222, 255);
}

@media (max-width: 768px) {
}