.stories {
	display: flex;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
	gap: 10px;
	padding: 10px 0;
	white-space: nowrap;
	/*scrollbar-width: none;*/
}

.stories::-webkit-scrollbar {
	/*display: none;*/
}

.story {

}

.story img {
	height: 80px;
	width: 80px;
	border-radius: 30px;
}

@media (max-width: 768px) {

}