.textareaContainer {
	position: relative; /* Необходимое для позиционирования кнопки внутри */
}

textarea {
	margin: 4px 0;
	background-color: rgb(48, 69, 90);
	border-radius: 18px;
	border: 1px solid rgb(80, 117, 156);
	color: rgb(230, 230, 230);
	box-sizing: border-box;
	padding: 10px 42px 10px 10px;
	width: 100%;
	font-family: "Montserrat", sans-serif;
	max-height: 250px;
	resize: none;
	cursor: text;
	font-size: 16px;
	outline: none;
	overflow-y: hidden;
}

/* Button styles */
.button {
	padding-right: 8px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.button button {
	border-radius: 12px;
	border: none;
	color: rgb(230, 230, 230);
	padding: 4px 6px;
	font-size: 12px;
	cursor: pointer;
	outline: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;


	position: absolute;
	bottom: 12px;
	right: 6px;
	background: transparent;
}

.button button:hover {
	background-color: rgb(60, 80, 100);
	border-color: rgb(120, 150, 200);
}

.button button:active {
	background-color: rgb(40, 60, 80);
	border-color: rgb(80, 110, 160);
}

.button button:disabled {
	background-color: rgb(30, 50, 70);
	border-color: rgb(60, 90, 130);
	color: rgb(180, 180, 180);
	cursor: not-allowed;
}

.button button svg {
	width: 24px;
	height: 24px;
	color: rgb(180, 180, 180);
	fill: currentColor;
}

.errorMessage {
	display: flex;
	margin: 0 30px;
	color: rgb(231, 76, 60);
	font-size: 14px;
}