.dialogs {
	color: white;
	padding: 4px;

	display: grid;
	grid-template-columns: 3fr 7fr;
}

.messages {
	padding: 10px;
	box-sizing: border-box;

	/* =========  ПРОКРУТКА  ========= */
	/*overflow: hidden;*/
	/*overflow-y: auto;*/
	/*scrollbar-width: none; !* Скрывает полосу прокрутки в Firefox *!*/
	/*-ms-overflow-style: none; !* Скрывает полосу прокрутки в IE и Edge *!*/
}

/*.messages::-webkit-scrollbar {*/
/*	display: none; !* Скрывает полосу прокрутки в Chrome, Safari и Opera *!*/
/*}*/

.dialogsItems {
	padding: 10px;
	box-sizing: border-box;
}

.dialogsItems .active {
	color: gold;
}

.dialogs .dialog {
	margin-bottom: 18px;
}

.dialog a {
	color: rgb(211, 200, 200); /*Цвет текста*/
	font-size: 18px;
	text-decoration: none;
}

.messages .message {
	margin-bottom: 18px;
}

.p {
	color: white;
}

.messageArea input {
	margin: 4px 0;
	background-color: rgb(48, 69, 90);
	border-radius: 12px;
	border: 1px solid rgb(80, 117, 156);
	color: rgb(230, 230, 230);
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	cursor: text;
	font-size: 16px;
	outline: none;
}

/* Button styles */
.messageArea button {
	border-radius: 18px;
	padding: 2px 30px;

	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@media (max-width: 768px) {

	.messages {
		box-sizing: border-box;

		/* =========  ПРОКРУТКА  ========= */
		overflow: hidden;
		overflow-y: auto;
		scrollbar-width: none; /* Скрывает полосу прокрутки в Firefox */
		-ms-overflow-style: none; /* Скрывает полосу прокрутки в IE и Edge */
	}

	.messages::-webkit-scrollbar {
		display: none; /* Скрывает полосу прокрутки в Chrome, Safari и Opera */
	}

	.dialogsItems {
		box-sizing: border-box;

		/* =========  ПРОКРУТКА  ========= */
		overflow: hidden;
		overflow-y: auto;
		scrollbar-width: none; /* Скрывает полосу прокрутки в Firefox */
		-ms-overflow-style: none; /* Скрывает полосу прокрутки в IE и Edge */
	}

	.dialogsItems::-webkit-scrollbar {
		display: none; /* Скрывает полосу прокрутки в Chrome, Safari и Opera */
	}

	.dialogs {
		/*max-height: 81vh;*/
		height: 100%;
		margin: 0;
		box-sizing: border-box;

		/* =========  ПРОКРУТКА  ========= */
		/*overflow: hidden;*/
		/*overflow-y: auto;*/
		/*scrollbar-width: none; !* Скрывает полосу прокрутки в Firefox *!*/
		/*-ms-overflow-style: none; !* Скрывает полосу прокрутки в IE и Edge *!*/
	}

	.dialogs::-webkit-scrollbar {
		/*display: none; !* Скрывает полосу прокрутки в Chrome, Safari и Opera *!*/
	}

	/* =================================== */

}