.dialogs {
	color: white;
	padding: 4px;

	display: grid;
	grid-template-columns: 3fr 10fr;
}

.dialogsItems {
	padding: 10px;
}

.dialogsItems .active {
	color: gold;
}

.dialogs .dialog {
	margin-bottom: 18px;
}

.dialog a {
	color: rgb(211, 200, 200); /*Цвет текста*/
	font-size: 18px;
	text-decoration: none;
}

.messages {
	padding: 10px;

}

.messages .message {
	margin-bottom: 18px;
}

.p {
	color: white;
}

@media (max-width: 768px) {
	.dialogs {
		/*max-height: 81vh;*/
		height: 100%;
		margin: 0;
		box-sizing: border-box;

		/* =========  ПРОКРУТКА  ========= */
		overflow: hidden;
		overflow-y: auto;
		scrollbar-width: none; /* Скрывает полосу прокрутки в Firefox */
		-ms-overflow-style: none; /* Скрывает полосу прокрутки в IE и Edge */
	}

	.dialogs::-webkit-scrollbar {
		display: none; /* Скрывает полосу прокрутки в Chrome, Safari и Opera */
	}

	/* =================================== */

}