.right {
	grid-area: r;
	padding: 20px;
	display: none;
	background-color: rgb(35, 53, 71); /* Фон */
	border-radius: 18px;
	border: 1px solid rgb(80, 117, 156);
}

.h2 {
	color: red;
}

.item {
	color: rgb(230, 230, 230); /*Цвет текста*/
}

.img {
	width: 100%;
}

@media (max-width: 768px) {
	.right {
		display: none;
	}
}