.post {
	margin-top: 8px;
	padding: 5px;
	background-color: rgb(50, 62, 83);
	border-radius: 12px;
}

.post img {
	width: 100%;
	margin-bottom: 8px;
}

.postMessage {
	color: rgb(230, 230, 230);
	padding: 15px;
}

.userInfo img {
	margin-bottom: 4px;
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.userInfo {
	display: flex;
	align-items: center;
}

.userInfoWrapper {
	margin-left: 8px;
	display: flex;
	flex-direction: column;
}

.userInfo .userName {
	display: inline-block;
	vertical-align: middle;
	color: rgb(230, 230, 230);
	font-size: 18px;
}

.date {
	margin-top: 4px;
	margin-left: 12px;
	color: rgb(211, 200, 200);
	font-size: 12px;
}

.reactionContainer {
	padding: 10px 0;
	margin-bottom: 5px;
	display: flex;
	justify-content: space-around;
	border-top: 1px solid rgb(80, 117, 156);
	border-bottom: 1px solid rgb(80, 117, 156);
}

.reaction {
	color: rgb(241, 196, 15);
}

@media (max-width: 768px) {
}