html, body {
  height: 100%;
  /*width: 100%;*/
  background-color: rgb(30, 45, 60); /* Фон */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

/* main styles */
.app-wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 30px;

  display: grid;
  grid-template-areas:
			"header header header"
			"navbar content content"
			"footer footer footer";

  grid-template-rows: 70px 1fr 60px;
  grid-template-columns: 2fr 5fr 3fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: content;
  height: 100%;
  width: 100%;
  background-color: rgb(35, 53, 71); /* Фон */
  border-radius: 18px;
  border: 1px solid rgb(80, 117, 156);
  color: rgb(230, 230, 230); /*Цвет текста*/
  box-sizing: border-box;
  /*overflow: auto;*/
}

/* Scrollbar style */
::-webkit-scrollbar {
	width: 9px; /* vertical scroll width */
	height: 6px; /* horizontal scroll height */
}

/* Track style (background behind slider) */
::-webkit-scrollbar-track {
	background: rgb(48, 67, 88);;
	border-radius: 6px;
}

/* Slider style */
::-webkit-scrollbar-thumb {
	background: rgb(70, 111, 159);
	border-radius: 6px;
}

/* Slider Hover Style */
::-webkit-scrollbar-thumb:hover {
	background: rgb(191, 222, 255);
}

/* phone screen styles */
@media (max-width: 768px) {
  body {
    /*height: 100%;*/
    max-width: 100ch;
    overflow-x: hidden;
    /*max-height: 100vh;*/
  }

  .app-wrapper {
    /*height: calc(var(--vh, 1vh) * 100);*/
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    /*min-height: 100vh;*/
    position: relative;

    display: grid;
    grid-template-areas:
            "header header"
            "content content"
            "navigate navigate";

    grid-template-rows: 56px 1fr 86px;
    grid-template-columns: 1fr 2fr;
    grid-gap: 6px;
  }

  .app-wrapper-content {
		margin-bottom: 86px;
    /*max-height: calc(100vh - 142px);*/
    /*position: relative;*/
    max-width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 0;

    color: rgb(230, 230, 230); /*Цвет текста*/
    overflow: hidden;

		border-top: 1px solid rgb(80, 117, 156);
  }
}

/*color: rgb(230, 230, 230); !* Цвет текста *!*/
/*color: rgb(211, 200, 200); !* Цвет текста *!*/
/*color: rgb(191, 222, 255) !* переключатель в профиле *!*/
/*background-color: rgb(30, 45, 60); !* Фон *!*/
/*
	red: rgb(231, 76, 60)
	green: rgb(39, 174, 96)
	blue: rgb(41, 128, 185)
	yellow: rgb(241, 196, 15)
	gold: rgb(191, 222, 255)
	preloader: rgb(80, 117, 156)
*/
