html, body {
  height: 100%;
  /*width: 100%;*/
  background-color: rgb(30, 45, 60); /* Фон */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

/* main styles */
.app-wrapper {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 30px;

  display: grid;
  grid-template-areas:
			"header header header"
			"navbar content content"
			"footer footer footer";

  grid-template-rows: 70px 1fr 60px;
  grid-template-columns: 2fr 5fr 3fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  grid-area: content;
  height: 100%;
  width: 100%;
  background-color: rgb(35, 53, 71); /* Фон */
  border-radius: 18px;
  border: 1px solid rgb(80, 117, 156);
  color: rgb(230, 230, 230); /*Цвет текста*/
  box-sizing: border-box;
  /*overflow: auto;*/
}

/* phone screen styles */
@media (max-width: 768px) {
  .app-wrapper {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    position: relative;

    display: grid;
    grid-template-areas:
            "header header"
            "content content"
            "navigate navigate";

    grid-template-rows: 56px 1fr 86px;
    grid-template-columns: 1fr 2fr;
  }

  .app-wrapper-content {
    max-height: calc(100vh - 142px);
    max-width: 100%;
    position: relative;
    box-sizing: border-box;
    border: none;
    border-radius: 0;
    border-top: 1px solid rgb(80, 117, 156);
    border-bottom: 1px solid rgb(80, 117, 156);

    color: rgb(230, 230, 230); /*Цвет текста*/
    overflow: hidden;
  }

  .app-display-flex-wrapper {
    display: flex;
  }
}

/*color: rgb(230, 230, 230); !*Цвет текста*!*/
/*color: rgb(211, 200, 200); !*Цвет текста*!*/
/*background-color: rgb(30, 45, 60); !* Фон *!*/
/*
	red rgb(231, 76, 60)
	green: rgb(39, 174, 96)
	blue rgb(41, 128, 185)
	yellow rgb(241, 196, 15)
*/

/*@media (max-width: 1000px) {*/
/*	.app-wrapper {*/

/*		display: grid;*/
/*		grid-template-areas:*/
/*			"h h h"*/
/*			"n c c"*/
/*			"f f f";*/

/*		grid-template-rows: 70px 1fr 60px;*/
/*		grid-template-columns: 2fr 7fr;*/
/*		grid-gap: 10px;*/
/*	}*/

/*	.app-wrapper-content {*/
/*		width: 100%;*/

/*	}*/
/*}*/
